<h1>Create a new flight</h1>

<%= form_for :flight, url: '/flights', method: 'POST' do |f|%>

<%= f.label 'flight_number', 'Flight Number' %>
<%= f.text_field :flight_number %><br>

<%= f.label 'origin', 'Origin' %>
<%= f.text_field :origin %><br>

<%= f.label 'destination', 'Destination' %>
<%= f.text_field :destination %><br>

<%= f.label 'date', 'Date' %>
<%= f.text_field :date %><br>

<%= f.submit 'Create Flight' %>


<% end %>