<h1>Create a new flight</h1>

<%= form_tag '/flights', method: 'POST'  do%>

<%= label_tag 'flight_number', 'Flight Number' %>
<%= text_field_tag 'flight_number' %><br>

<%= label_tag 'origin', 'Origin' %>
<%= text_field_tag 'origin' %><br>

<%= label_tag 'destination', 'Destination' %>
<%= text_field_tag 'destination' %><br>

<%= label_tag 'date', 'Date' %>
<%= text_field_tag 'date' %><br>

<%= submit_tag 'Create Flight' %>


<% end %>