<h1>Search Flights</h1>


<ul>
	<% @flights.each do |flight|  %>
		<li><%= flight.flight_number %> --- <%= flight.origin %> to <%= flight.destination %> --- departs: <%= flight.date %> --- <%= link_to 'See flight details', flight_path(flight.id) %> </li>

		
	<% end %>

</ul>>