<h1>Show flight page</h1>

<h2>Flight Details:</h2>
<p>flight number: <%= @flight.flight_number  %></p>
<p>origin: <%= @flight.origin  %></p>
<p>destination: <%= @flight.destination  %></p>
<p>date: <%= @flight.date  %></p>
<p>airplane: <%= @flight.airplane.name  %></p>



<h2>Seats:</h2>
<div class="seats">
<!-- 		<div class="seat">
			
		</div>
		<div class="seat">
			
		</div> -->
	</div>
</div>

<!-- link to the reservation backend -->

<div id="showSeat">
  <p>
  </p>
</div>
<button>Reserve Flight</button>

<%= link_to 'Back', :back  %>

<script>
	// we have array of seat numbers
  var seatNumbers = <%== @seats_array %>


  // we want to loop through them
  _.each(seatNumbers, function(seatNumber) {

  	// create new seat view and pass in the seatNumber
  	var view = new App.Views.SeatView({ model: seatNumber });
  	// tell the view to render the html
  	//view.render();
  	// append the seat html to #seats, el is the html
  	$('.seats').append(view.render().el);
  })


</script>


