<h1>Show flight page</h1>

<h2>Flight Details:</h2>
<p>flight number: <%= @flight.flight_number  %></p>
<p>origin: <%= @flight.origin  %></p>
<p>destination: <%= @flight.destination  %></p>
<p>date: <%= @flight.date  %></p>
<p>airplane: <%= @flight.airplane.name  %></p>
<p hidden><%= @flight.id %></p>

<h2>Seats:</h2>
<div class="seats">
<!-- 		<div class="seat">

		</div>
		<div class="seat">

		</div> -->
	</div>
</div>

<!-- link to the reservation backend -->

<div id="showSeat"><p></p></div>

<%= button_to "Make Reservation", { :controller => "reservations", :action => "create"} %>

<%= link_to 'Back', :back  %>

<script>
  var seats = <%== @seats_array %>

  _.each(seats, function(seat, index) {



	    var seat = $('<div></div>').addClass('seat').html(seat);

	    var seatsDiv = $('.seats');
	    seatsDiv.append(seat);



  });
</script>


