<h1>Show flight page</h1>

<h2>Flight Details:</h2>
<p>flight number: <%= @flight.flight_number  %></p>
<p>origin: <%= @flight.origin  %></p>
<p>destination: <%= @flight.destination  %></p>
<p>date: <%= @flight.date  %></p>
<p>airplane: <%= @flight.airplane.name  %></p>



<h2>Seats:</h2>
<div class="seats">

</div>

<!-- link to the reservation backend -->

<div id="showSeat"><p></p></div>
<button>Reserve Flight</button>

<%= link_to 'Back', :back  %>

<script>
  var seats = ['1a', '1b', '2a', '2b']
  _.each(seats, function() {
    var seat = $('<div>hello</div>');

    var seatsDiv = $('.seats');
    seatsDiv.append(seat);
  })
</script>


