<!DOCTYPE html>
<html>
<head>
  <title>BurningPlanes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <li>
  <% if logged_in? %>
    <%= link_to 'Logout', login_path, :method => :delete, class: 'btn btn-danger' %>
    <% end %>
</li>
</nav>

<%= yield %>

</body>
</html>
