<!DOCTYPE html>
<html>
<head>
  <title>BurningPlanes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
<script>
  var App = {};
  App.Views = {};
  App.Models = {};
  App.Collections = {};
</script>
  
  <%= javascript_include_tag 'application' %>
</head>
<body>
<nav>
  <li>
  <% if logged_in? %>
    <%= link_to 'Logout', login_path, :method => :delete, class: 'btn btn-danger' %>

    <% end %>
</li>
</nav>

<%= yield %>

<script type="template/handlebars" id="seatView">
  <p> {{ body }} </p>
</script>

</body>
</html>
